.app {
  background-color: #333b43;
  display: flex;
  height: 100vh;
  padding-inline: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p, label {
  font-family: 'karla', sans-serif;
  color: #d4cd47;
  font-size: 1.1rem;
}

.note-select-section {
  width: 30rem;
  display: flex;
  gap: 1rem;
}

.button-section > button {
  width: 5rem;
}

.chord-diagram {
  display: flex;
  width: 10rem;
}

.barre-fret-indicator {
  margin-top: 4.4rem;
  margin-left: -1.6rem;
  font-size: .97rem;
  font-style: italic;
}

.fret-board {
  display: inline grid;
  grid-template-columns: repeat(6, 2rem);
  grid-template-rows: repeat(6, 3rem);
}

.fret {
  border: 0.3px solid #E0DBD8;
  display: flex;
  align-items: center;
}

.fret:nth-child(6n + 5) {
  border-right: 1px solid #E0DBD8;
}

.fret:nth-child(6n + 1) {
  border-left: 1px solid #E0DBD8;
}

.fret:nth-child(n+6):nth-child(-n+12) {
  border-top: 14px solid #E0DBD8;
}

.last-string {
  display: flex;
  align-items: center;
  position: relative;
}

.fret-board > span:nth-of-type(12) {
  border-top: 13.9px solid #333b43;;
}

.fret-fret, .last-string-fret {
  background-color: #E0DBD8;
  border-radius: 10px;
  height: .9rem;
  width: .9rem;
  position: relative;
  right: 8px;
}

.open-fret {
  background-color:#333b43;
  border: 1px solid #E0DBD8;
  margin-top: 1.7rem;
  border-radius: 8px;
  height: .8rem;
  width: .8rem;
  position: relative;
  right: 8px;
}

.barred-fret {
  background-color:#E0DBD8;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  height: .7rem;
  min-width: 4.5rem;
  position: relative;
  right: 4.5rem;
}